<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Study Room Status</title>
        <!-- <meta http-equiv="refresh" content="5";url=http://localhost:5000 > -->
    </head>
    <body>
        <h1 style="font-family: Gill Sans Extrabold; font-size: 70px; background-color: blue; color:white">COES Study Room Status</h1>
        <br>
        <span style="font-family: Gill Sans Extrabold; font-size: 50px">Key:</span><img src="{{url_for('static', filename='temp_studyRoom_map.png')}}" align="right" style="width:420px;height:400px;" />
        <h3 style="font-family: Arial Black; font-size: 30px; color:green"><i>Open Room</i></h3>
        <h3 style="font-family: Georgia; font-size: 30px; color:red">Closed Room</h3>
        <script>
            let HOST = "http://localhost:5000/check-room"
            async function postData(url = "", data = {}) {
                let res = await fetch(url, {
                   method:"POST",
                   headers: {"Content-Type": "application/json"},
                   body:JSON.stringify(data)
               });
               return res.json()
            }

            let sensorNumber = 0;

            // create an array to hold all the promises
            let promises = [];

            setInterval(() => {

                // loop through 3 floors
                for (let floor = 1; floor <= 3; floor++) {
                    let numSensors = floor === 1 ? 2 : 4; // determine number of sensors on this floor
                    
                    // loop through sensors on this floor
                    for (let sensor = 1; sensor <= numSensors; sensor++) {
                        // console.log(sensor+floor)
                        
                        // create the promise and push it to the array
                        let promise = postData(HOST, {"room": "study-room-status-" + ( floor >= 2 ? floor >= 3 ? (sensor + floor+1) : (sensor + floor) : sensor).toString()}).then(
                        (data) => {
                            let current_sensor = floor >= 2 ? floor >= 3 ? (sensor + floor+1) : (sensor + floor) : sensor; 
                            console.log(current_sensor)
                            document.getElementById("Floor"+floor+"_"+current_sensor).style.color = data["occupied"] ? "red" : "green";
                            document.getElementById("Floor"+floor+"_"+current_sensor).style.fontFamily = data["occupied"] ? "Georgia" : "Arial Black";
                            document.getElementById("Floor"+floor+"_"+current_sensor).style.fontStyle = data["occupied"] ? "initial" : "italic";
                        }
                    );
                    promises.push(promise);
                    // sensorNumber++;
                }
            }
        },
            5000);
            
            // wait for all the promises to complete before continuing
            Promise.all(promises).then(() => {
                console.log("All requests completed.");
            });
        </script>
        <div style="border-style: outset; border-width: 5px; text-align: center; background-color: lightgray; border-color:blue; width:30%;">
            <h4 id="First Floor" style="font-size: 40px;">1st Floor:</h4>
            <p id="Floor1_1" style="font-size: 35px">Room 1</p>
            <p id="Floor1_2" style="font-size: 35px">Room 2</p>
        </div>
        <hr align="left" style="width: 700px; height: 5px; background-color:gray">
        <div style="border-style: outset; border-width: 5px; text-align: center; background-color: lightgray; border-color:red; width:30%;">
            <h4 id="Second Floor" style="font-size: 40px">2nd Floor:</h4>
            <p id="Floor2_3" style="font-size: 35px">Room 1</p>
            <p id="Floor2_4" style="font-size: 35px">Room 2</p>
            <p id="Floor2_5" style="font-size: 35px">Room 3</p>
        </div>
        <hr align="left" style="width: 700px; size: 20; height: 5px; background-color:gray">
        <div style="border-style: outset; border-width: 5px; text-align: center; background-color: lightgray; border-color:blue; width:30%;">
            <h4 id="Third Floor" style="font-size: 40px">3rd Floor:</h4>
            <p id="Floor3_6" style="font-size: 35px">Room 1</p>
            <p id="Floor3_7" style="font-size: 35px">Room 2</p>
            <p id="Floor3_8" style="font-size: 35px">Room 3</p>
        </div>
</html>